
@media only screen and (min-width: 1px) {

    .title-black {
        color: black;
        margin-top: .5em;
        margin-bottom: .7em;
        transform: rotate(0deg);
    }

    .experiences__frise--article {
        margin-left: 1.5em;
        margin-right: 1.5em;
        display: flex;
        position: relative;
        /* border-right: 1px solid rgb(130, 161, 172); */
    }

    .experiences__frise--article__data {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 100%;
        color: black;
        padding-bottom: 0.5em;
    }

    .experiences__frise--article__data--div {
        position: relative;
        margin-bottom: 1em;
    }

    .experiences__frise--article__mobile {
        width: 1px;
        background-color: rgba(130, 161, 172, .5);
        margin-left: 1.5em;
    }

    .experiences__frise--article__data--div__time { 
        border: 1px solid rgba(130, 161, 172, .5);
        padding: 0.5em;
        border-radius: 10px;
        display: inline;
        box-shadow: 1px 6px 36px -23px black;
        /* font-weight: bold; */
        color: rgb(3, 3, 3);
        font-family: 'Quicksand', sans-serif;

    }


    .experiences__frise--article__data_description {
        margin: 1em 0em 0em 0em;
        padding-right: 1.3em;
        margin-bottom: 1.5em;
        text-transform: uppercase;
        font-weight: bold;
        padding-bottom: 1em;
        border-bottom: 1px dotted  rgba(188, 143, 143, 0.2); 
        font-size: 0.9em;
        text-align: right;
    }

    .experiences__frise--article__data--div__circle {
        width: 2.2em;
        height: 2em;
        border-radius: 20px;
        position: absolute;
        right: -43px;
        top: -3px;
        content: url(../images/meteore.png);
    }

    .experiences__frise--article__data--link {
        display: block;
        text-transform: none;
        font-weight: lighter;
    }

    .experiences__frise--article__data--link:hover {
        color:  rgb(130, 161, 172) ;

    }

    .experiences {
        margin-bottom: 1em;
        overflow: hidden;
    }

}

@media screen and (min-width: 426px) {
    .experiences__frise--article { 
        border: none;
    }

    .experiences__frise--article__data--line {
        width: 1px;
        background-color: rgba(130, 161, 172, .5);
        height: 100%;
        margin-right: 1.5em;
    }

    .experiences__frise--article__data {
        flex-direction: row;
        width: 100%;
        align-items: center;
        padding-bottom: 0;
    }

    .experiences__frise--article__data_description {
        margin-bottom: 0em;
        margin-left: 1em;
        padding-left: 2.3em;
        width: 40%;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 0.9em;
        border-bottom: 1px dotted  rgba(130, 161, 172, .3);
        text-align: left;
        padding-top: 0.7em;
    }

    .experiences__frise--article__data--link {
        display: block;
        text-transform: none;
        padding-top: 1em;
        font-weight: lighter;
        padding-bottom: 0.5em;
    }

    .experiences__frise--article__data--div__time {
        float: right;
        margin-right: 1.5em;
    }

    .experiences__frise--article__data--div {
        width: 50%;
        position: relative;
    }


    .experiences__frise--article__data--div__circle {
        right: -18px;
        top: 9px;
    }

    .experiences {
        margin-bottom: 3em;
        transform: rotate(-5deg);
        width: 94%;
        padding-left:6%;
        display: inline-block;
    }


    .experiences__frise--article__mobile {
        display: none;
    }

}

@media screen and (min-width: 769px) and (max-width: 2560px) {
    
    .experiences__frise--article__data--div__time {
        font-size: 1.1em;
    }
}
