@media only screen and (min-width: 1px){
    .article__white {
        background-color: transparent;
        box-shadow: -1px 0px 24px -9px rgba(0,0,0,0.75);
    }
    .article__title--white {
        color: black;
    }
    .article__description--white {
        color: black;
    }

    .title-outils {
        transform: rotate(-5deg);
    }

    .outils {
        margin-bottom: 1em;
    }
}