@media only screen and (min-width: 1px) { 

    /**************** FONTS *****************/
    @font-face {
    font-family: "sweet-cake";
    src: url("../images/Sweet\ Cake.otf");
    }

    @font-face {
        font-family: "fragment";
        src: url("../images/Fragmentcore.otf");
    }


    /**************** WAVES *****************/
    .custom-shape-divider-bottom-1596091591 {
        width: 100%;
        overflow: hidden;
        line-height: 0;
        transform: rotate(180deg);
    }
    
    .custom-shape-divider-bottom-1596091591 svg {
        display: block;
        width: calc(114% + 1.3px);
        height: 78px;
    }
    
    .custom-shape-divider-bottom-1596091591 .shape-fill {
        fill: #000000;
    }

    .custom-shape-divider-top-1596121097 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
    }
    
    .custom-shape-divider-top-1596121097 svg {
        position: relative;
        display: block;
        width: calc(106% + 1.3px);
        height: 49px;
    }
    
    .custom-shape-divider-top-1596121097 .shape-fill {
        fill: #000000;
    }

    /************** IMAGES **************/
    .all-images {
        position: relative;
    }

    .img-astro {
        position: absolute;
        top: 5%;
        width: 26%;
        right: 0;
    }

    .img-saturn {
        position: absolute;
        width: 20%;
        top: -10%;
        left: 2%;
    }

    .img-laptop {
        position: absolute;
        width: 17%;
        top: 26%;
        right: 22%;
    }

    .img-moon {
        position: absolute;
        width: 13%;
        top: -10%;
        right: 45%;
    }

    .img-earth {
        position: absolute;
        width: 11%;
        top: 46%;
        left: 27%;
    }

    .super-tache {
        display: none;
    }

    .super-tache-astro {
        display: none;
    }

    /*************** CONTENU *************/
    h1{
        font-family: "sweet-cake";
        font-size: 3em;
        text-align: center;
        padding-top: 0.5em;
    }

    .presentation {
        display: block;
       margin: auto;
       width: 85%;
        padding-top: 1em;
        padding-bottom: 3em;
    }

    .presentation p {
        padding-left: 1em;
        padding-right: 1em;
        font-weight: lighter;
        
    }

    main {
        position: relative;
    }
}

@media only screen and (min-width: 768px) {

    /**************** IMAGES *****************/
    .img-laptop {
        top: 34%;
        right: 22%;
    }

    .img-earth {
        width: 10%;
        top: 50%;
        left: 25%;
    }

    .img-moon {
        top: 1%;
        left: 43%;
    }

    /**************** CONTENU *****************/
    .presentation {
        display: block;
        width: 65%;
        margin: auto;
    }


}

@media screen and (min-width: 769px) {

    /**************** IMAGES *****************/
    .img-astro {
        top: 8%;
        width: 28%;
        right: 1%;
    }

    .img-saturn {
        width: 17%;
        top: -9%;
        left: 5%;
    }

    .img-laptop {
        width: 15%;
        top: 36%;
        right: 26%;
    }

    .img-moon {
        width: 10%;
        top: 20%;
        left: 44%;
    }

    .img-earth {
        width: 9%;
        top: 62%;
        left: 24%;
    }

    .super-tache {
        display: block;
        width: 27%;
        margin-left: 4em;
        margin-top: 1em;
    }

    .super-wave {
        display: none;
    } 

    .super-tache-astro {
        display: block;
        position: absolute;
        width: 30%;
        right: 10px;
        top: 21px;
    }

    /**************** CONTENU *****************/
    .title-text-presentation {
        width: 64%;
        text-align: right;
    }

    .title-text-presentation h1 {
        text-align: right;
    }

    .presentation {
        margin: 0em;
        width: 100%;
        padding-right: 0em;
    }

    .presentation p {
        padding-right: 0em;
    }
}

/* LAPTOP L  */
@media screen and (min-width: 1025px) and (max-width: 1440px) {

    /**************** IMAGES *****************/
    .img-astro {
        top: 8%;
        width: 23%;
        right: 1%;
    }

    .img-saturn {
        width: 17%;
        top: -10%;
        left: 2%;
    }

    .img-laptop {
        width: 13%;
        top: 38%;
        right: 23%;
    }

    .img-moon {
        width: 9%;
        top: 15%;
        left: 40%;
    }

    .img-earth {
        width: 8%;
        top: 63%;
        left: 23%;
    }

    .super-tache-astro {
        width: 25%;
    }

    /**************** CONTENU *****************/
    .title-text-presentation {
        width: 64%;
    }

}

/* TV ou 4K  */
@media screen and (min-width: 1441px) and (max-width: 2560px) {

    /**************** IMAGES *****************/
    .img-astro {
        top: 8%;
        width: 23%;
        right: 1%;
    }

    .img-saturn {
        width: 17%;
        top: -10%;
        left: 2%;
    }

    .img-laptop {
        width: 13%;
        top: 38%;
        right: 23%;
    }

    .img-moon {
        width: 9%;
        top: 15%;
        left: 40%;
    }

    .img-earth {
        width: 8%;
        top: 63%;
        left: 23%;
    }

    .super-tache-astro {
        width: 25%;
    }

    /**************** CONTENU *****************/
    .presentation p {
        width: 60%;
        margin-left: 40%;
    }

}