/* MOBILE  */
@media only screen and (min-width: 1px) {

    /********** BURGER MENU *********/
    .menu-checkbox {
        opacity: 0;
        position: absolute;
        top: -1000px;
    }

    .menu-checkbox:checked ~ .navigation__container--menu {
        display: block;
    }

    .menu-checkbox:focus + .menu-toggle {
        outline: #ffffff auto 5px;
    }

    .menu-toggle {
        padding: .5em 1em;
        color: rgb(255, 255, 255);
    }

    /*********** CONTENU *********/
    .navigation__container--menu_li {
        text-align: center;
        padding: 0.5em;
        color: rgb(255, 255, 255);
    }

    .navigation__container--menu_li:hover{
        color:  rgb(130, 161, 172) ;
    }

    .navigation__container {
        align-items: center;
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
        background-color:black; 
    }

    .navigation__container--menu {
        display: none;
        /* Ici, on demande à .nav-wrapper (le conteneur flex) de réserver 100% de sa largeur à son enfant .menu. Il tombera donc toujours en dessous. Ouf, le menu reste en dessous quelle que soit la largeur de la fenêtre. */
        flex-basis: 100%;
        font-family: 'Quicksand', sans-serif;
    }

}

@media only screen and (min-width: 769px) {

    .navigation__container--menu {
        margin: 0;
        max-height: 1000px;
        opacity: 1;
        padding: 0;
        visibility: visible;
    }

    .first-item {
        border-top: none;
    }

    /****** BURGER MENU *****/
    .menu-toggle,
    .menu-checkbox {
        display: none;
    }

}

/* ORDI PORTABLE   */
@media screen and (min-width: 769px) and (max-width: 2560px) {

    .navigation__container--menu {
        display: flex;
        justify-content: center;
        padding-top: 0.4em;
        padding-bottom: 0.5em;
        background: none;
        border-bottom-right-radius: 40%;
        border-bottom-left-radius: 40%;
        background-color: white;
    }

    header {
        position: sticky;
        top: 0;
        z-index: 1;
      }


    .navigation__container--menu_a {
        padding: 1em;
        font-size: 0.8em;
    }

    .navigation__container {
        background: transparent;
    }

    .navigation__container--menu_li{
        color: black;
    }
}

/* LAPTOP L  */
@media screen and (min-width: 1025px) and (max-width: 1440px) {
    
    .navigation__container--menu_a {
    font-size: 1em;
    }
}

/* TV ou 4K  */
@media screen and (min-width: 1441px) and (max-width: 2560px) {
    
    .navigation__container--menu_a {
    font-size: 1em;
    }
}