@media only screen and (min-width: 1px) {
    h2 {
        font-family: "sweet-cake";
        font-size: 2em;
        text-align: center;
        color: white;
        transform: rotate(-5deg);
        /* margin-bottom: 0.5em; */
        width: 94%;
    }

    .parcours__article {
        background-color:black;
    }

    .parcours__article--frise__bloc--element__date {
        margin-left: 1.5em;
        margin-right: 0.5em;
        padding: 0.5em;
        border-radius: 10px;
        display: inline-block;
        /* font-weight: bold; */
        text-size-adjust: auto;
        color: rgb(255, 255, 255);
        background: linear-gradient(to top right, rgba(130, 161, 172, .4)6%, black 90%);
        font-family: 'Quicksand', sans-serif;
    }

    .parcours__article--frise__bloc--element__text {
        margin-left: auto;
        margin-right: auto;
        margin-top: 1.5em;
        margin-bottom: 2em;
        padding-left: 2.3em;
        width: 90%;
        text-transform: uppercase;
        font-weight: bold;
        color: white;
        font-size: 0.9em;
        border-bottom: 1px dotted  rgba(130, 161, 172, .3);
    }

    .parcours__article--frise__bloc--element__school {
        display: block;
        text-transform: none;
        padding-top: 1em;
        font-weight: lighter;
        padding-bottom: 1em;
        /* border-bottom: 1px dashed rgba(130, 161, 172, .2); */
    }

    .parcours__article--frise__bloc--element__school:hover {
        color:  rgb(130, 161, 172) ;
    }

    .parcours__article--frise {
        display: flex;
        padding-bottom: 1em;
        margin-top: 1.5em;
    }

    .parcours__article--frise__bloc {
        border-left: 1.5px solid rgba(130, 161, 172, .5);
        margin-left: 0.5em;
    }

    .parcours__article--frise__bloc--element{
        position: relative;
    }

    .parcours__article--frise__line {
        margin-left: 1em;
        border-radius: 10px;
        display: inline-block;
    }

    .parcours__article--frise__bloc--element__circle {
        width: 2.8em;
        height: 3.2em;
        border-radius: 20px;
        position: absolute;
        left: -23px;
        top: 1px;
        content: url(../images/sarturna.png);
    }

}

@media only screen and (min-width: 768px) {
    
    h2 {
        font-size: 3em;
        display: inline-block;
        width: 98%;
        margin: .5em;
    }
    .parcours__article--frise__bloc {
        margin-left: 49%;
    }

    .parcours__article--frise {
        transform: rotate(-5deg);
        width: 94%;
        padding-left: 6%;
        display: inline-block;
        margin-top: 0.5em;
    }

    .parcours__article--frise__bloc--element__date {
        position: absolute;
        border-width: 2px;
        border-style: solid;
        border-image: 
          linear-gradient(
          -198deg, rgb(130, 161, 172), black, black, rgb(130, 161, 172)) 1;
          background: none;
    }

    .parcours__article--frise__bloc--element__text {
        padding-bottom: 1em;
    }

    .frise-first {
        left: -310px;
    }

    .frise-second {
        left: -358px;
    }

    .frise-third {
        left: -326px;
    }

    .frise-four {
        left: -260px;
    }

    .frise-five {
        left: -150px;
    }




}